<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>Document</title>
</head>
<body>
  
   
        <h1>DIsplay all the blogs </h1>
    
        <section>
        <% for(let i of comments){ %>
            <div>
            <h1>ID is <%= i.id %></h1>
            <h2>Name is: <%= i.username %></h2>
            <h3>Comment is: <%= i.comment %></h3>
            <a href="/blogs/<%= i.id %>">Show me</a>
            <br>
            <a href="/blogs/<%= i.id %>/edit">Edit me</a>     <br>
            <form action="/blogs/<%= i.id %>?_method=DELETE" method="POST">
                <!-- for method overriding i have to used a form for the post/get -->
               <button>Delete</button>
            </form>
            <!-- for a particular i have a anchor tag  -->
       
       </div>
       <% } %>
   </section>
    
</body>
</html>